.navbar {
    font-family: "Roboto", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    background-color: #F44336;
    margin-bottom: 0px;
}

.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus, 
.navbar .navbar-nav>.active>a:hover {
    color: #ffffff;
background-color: #ff2300;
-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
-ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
border: none;
position: relative;
}

.nav>li>a:focus, .nav>li>a:hover {
    color: #ffffff;
    background-color: #ff2300;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border: none;
    position: relative;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.full-page{
    height: inherit;
}
.left-page{
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
  .content-div{
    margin: 15px 15px 15px 15px;
  }
  
  .center{
      text-align: center;
  }

  .card {
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.card .header {
    color: #555;
    padding: 1px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    text-align: -webkit-center;
    text-align: center;
}

.card .body {
    font-size: 12px;
    color: #555;
    padding: 20px;
}

.button-demo .btn {
    margin-right: 8px;
    margin-bottom: 13px;
    min-width: 120px;
    color: #fff;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #1f91f3 !important;
}
.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:focus {
    background-color: #ff9600 !important;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border: none;
    font-size: 13px;
    outline: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}
a:focus, a:hover {
    color: #ffffff;
    text-decoration: underline;
}


.md-radio {
    margin: 8px 0;
  }
  .md-radio.md-radio-inline {
    display: inline-block;
  }
  .md-radio input[type="radio"] {
    display: none;
  }
  .md-radio input[type="radio"]:checked + label:before {
    border-color: #337ab7;
    animation: ripple 0.2s linear forwards;
  }
  .md-radio input[type="radio"]:checked + label:after {
    transform: scale(1);
  }
  .md-radio label {
    display: inline-block;
    height: 20px;
    position: relative;
    padding: 2px 30px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom;
  }
  .md-radio label:before, .md-radio label:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: all .3s ease;
    transition-property: transform, border-color;
  }
  .md-radio label:before {
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.54);
  }
  .md-radio label:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    transform: scale(0);
    background: #337ab7;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  textarea{
    resize: none;
  }
  .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.bg{
  width: 98%;
}

.full-loader{
  background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 200;
    margin: 0; 
    overflow: hidden
}
/* ALL LOADERS */

.loader{
  width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 241px;
    z-index: 200;
}

/* LOADER 4 */

#loader-4 span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ff0202;
  margin: 35px 5px;
  opacity: 0;
}

#loader-4 span:nth-child(1){
  animation: opacitychange 1s ease-in-out infinite;
}

#loader-4 span:nth-child(2){
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

#loader-4 span:nth-child(3){
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}