<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker -->
    <link rel="stylesheet"
        href=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" />
    <!-- Toastr -->
    <link href="bower_components/toastr/toastr.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
</head>

<body ng-controller="logincontroller" ng-app="app">
    <div class="row full-loader">
        <div class="col-md-12 bg">
            <div class="loader" id="loader-4">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <nav class="navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">User Management </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">REGISTER</a></li>
                    <li><a href="view.html">VIEW</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="clearfix"></div>
    <section>
        <div class="row full-page">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="content-div">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Register Here
                            </h2>
                        </div>
                        <div class="body">
                            <form id="registForm" name="registForm" ng-submit="submitForm(registForm.$valid)"
                                novalidate>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                        registForm.fname.$invalid && !registForm.fname.$pristine }">
                                            <label for="fname">First Name</label>
                                            <input type="text" name="fname" class="form-control" ng-model="user.fname"
                                                ng-minlength="3" ng-maxlength="8" alphabet-only required
                                                autocomplete="off">
                                            <p ng-show="registForm.fname.$dirty && registForm.fname.$error.required"
                                                class="help-block">First Name is required</p>
                                            <p ng-show="registForm.fname.$error.minlength" class="help-block">
                                                First Name is too short.
                                            </p>
                                            <p ng-show="registForm.fname.$error.maxlength" class="help-block">
                                                First Name is too long.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                        registForm.lname.$invalid && !registForm.lname.$pristine }">
                                            <label for="lname">Last Name</label>
                                            <input type="text" name="lname" class="form-control" ng-model="user.lname"
                                                ng-minlength="3" ng-maxlength="8" required alphabet-only
                                                autocomplete="off">
                                            <p ng-show="registForm.lname.$dirty && registForm.lname.$error.required"
                                                class="help-block">Last Name is required</p>
                                            <p ng-show="registForm.lname.$error.minlength" class="help-block">
                                                Last Name is too short.
                                            </p>
                                            <p ng-show="registForm.lname.$error.maxlength" class="help-block">
                                                Last Name is too long.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                        registForm.faname.$invalid && !registForm.faname.$pristine }">
                                            <label for="faname">Father's Name</label>
                                            <input type="text" name="faname" class="form-control"
                                                ng-model="user.fathername" ng-minlength="3" ng-maxlength="15" required
                                                alphabet-only autocomplete="off">
                                            <p ng-show="registForm.faname.$dirty && registForm.faname.$error.required"
                                                class="help-block">Father Name is required</p>
                                            <p ng-show="registForm.faname.$error.minlength" class="help-block">
                                                Father Name is too short.
                                            </p>
                                            <p ng-show="registForm.faname.$error.maxlength" class="help-block">
                                                Father Name is too long.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                        registForm.dob.$invalid && !registForm.dob.$pristine }">
                                            <label for="dob">Date Of Birth</label>
                                            <div class="form-group">
                                                <input type='text' name="dob" class="form-control" ng-model="user.dob"
                                                    name="dob" id="dob" required autocomplete="off" />
                                                <p ng-show="registForm.dob.$dirty && registForm.dob.$error.required"
                                                    class="help-block">Date of Birth is required</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                        registForm.gender.$invalid && !registForm.gender.$pristine }">
                                            <label>Gender</label>
                                            <div class="radio-group">
                                                <div class="md-radio md-radio-inline">
                                                    <input id="male" type="radio" name="gender" value="Male" checked
                                                        ng-model="user.gender" required>
                                                    <label for="male">Male</label>
                                                </div>
                                                <div class="md-radio md-radio-inline">
                                                    <input id="female" type="radio" name="gender" ng-model="user.gender"
                                                        value="Female" required>
                                                    <label for="female">Female</label>
                                                </div>
                                            </div>
                                            <p ng-show="registForm.gender.$dirty && registForm.gender.$error.required"
                                                class="help-block">Gender is required</p>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                        registForm.marital.$invalid && !registForm.marital.$pristine }">
                                            <label for="marital">Marital Status</label>
                                            <select class="form-control" name="marital" ng-model="user.maritalstatus"
                                                required>
                                                <option value="">Select</option>
                                                <option value="Single">Single</option>
                                                <option value="Married">Married</option>
                                                <option value="Widow">Widow</option>
                                            </select>
                                            <p ng-show="registForm.marital.$dirty && registForm.marital.$error.required"
                                                class="help-block">Marital Status is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                        registForm.religion.$invalid && !registForm.religion.$pristine }">
                                            <label for="religion">Religion</label>
                                            <select class="form-control" name="religion" ng-model="user.religion"
                                                required>
                                                <option value="">Select</option>
                                                <option value="Hindu">Hindu</option>
                                                <option value="Christian">Christian</option>
                                                <option value="Muslim">Muslim</option>
                                            </select>
                                            <p ng-show="registForm.religion.$dirty && registForm.religion.$error.required"
                                                class="help-block">Religion is required</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                        registForm.nationality.$invalid && !registForm.nationality.$pristine }">
                                            <label for="nationality">Nationality</label>
                                            <select class="form-control" name="nationality" ng-model="user.nationality"
                                                required>
                                                <option value="">Select</option>
                                                <option value="Indian">Indian</option>
                                                <option value="NRI">NRI</option>
                                            </select>
                                            <p ng-show="registForm.nationality.$dirty && registForm.nationality.$error.required"
                                                class="help-block">Nationality is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                        registForm.mobile.$invalid && !registForm.mobile.$pristine }">
                                            <label for="mobile">Mobile Number</label>
                                            <input type="number" name="mobile" class="form-control" ng-model="user.mno"
                                                ng-minlength="10" ng-maxlength="10" required autocomplete="off">
                                            <p ng-show="registForm.mobile.$dirty && registForm.mobile.$error.required"
                                                class="help-block">Mobile Number is required</p>
                                            <p ng-show="registForm.mobile.$error.minlength" class="help-block">
                                                Mobile Number is too short.
                                            </p>
                                            <p ng-show="registForm.mobile.$error.maxlength" class="help-block">
                                                Mobile Number is too long.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                        registForm.email.$invalid && !registForm.email.$pristine }">
                                            <label for="email">Email</label>
                                            <input type="email" name="email" class="form-control" ng-model="user.email"
                                                required autocomplete="off">
                                            <p ng-show="registForm.email.$dirty && registForm.email.$error.required"
                                                class="help-block">Email is required</p>
                                            <p ng-show="registForm.email.$dirty && registForm.email.$invalid"
                                                class="help-block">Email is invalid</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                        registForm.address.$invalid && !registForm.address.$pristine }">
                                            <label for="address">Address</label>
                                            <textarea rows="3" name="address" cols="50" class="form-control"
                                                ng-model="user.address" required autocomplete="off"></textarea>
                                            <p ng-show="registForm.address.$dirty && registForm.address.$error.required"
                                                class="help-block">Address is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                        registForm.url.$invalid && !registForm.url.$pristine }">
                                            <label for="url">Git URL</label>
                                            <input type="url" name="url" class="form-control" ng-model="user.url"
                                                required autocomplete="off">
                                            <p ng-show="registForm.url.$dirty && registForm.url.$error.required"
                                                class="help-block">Git URL is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-3"></div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="button-demo">
                                            <button type="reset" class="btn btn-warning waves-effect">Clear</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="button-demo">
                                            <button type="submit" class="btn btn-primary waves-effect"
                                                ng-disabled="registForm.$invalid">Submit</button>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </section>


</body>
<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Datatables -->
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- Moment -->
<script src="bower_components/moment/min/moment.min.js"></script>
<!-- Toastr -->
<script src="bower_components/toastr/toastr.min.js"></script>
<!-- AngularJS -->
<!-- <script src="bower_components/angular/angular.min.js"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>

<script src="js/controller.js"></script>
<script src="js/script.js"></script>
<script src="js/validation.js"></script>
<!-- DateTime Picker -->
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.js"></script>

</html>