<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker -->
    <link rel="stylesheet"
        href=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" />
    <!-- Toastr -->
    <link href="bower_components/toastr/toastr.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body ng-controller="viewcontroller" ng-app="app">
        <div class="row full-loader">
                <div class="col-md-12 bg">
                  <div class="loader" id="loader-4">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
    <nav class="navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">User Management</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">REGISTER</a></li>
                    <li class="active"><a href="view.html">VIEW</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="clearfix"></div>
    <section>
        <div class="row full-page">            
            <div class="col-md-12">
                <div class="content-div">
                    <div class="card">
                        <div class="header">
                            <h2>
                                USER DETAILS
                                <button type="submit" class="pull-right btn btn-danger" ng-click="clear()">Clear
                                    data</button>
                            </h2>

                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-striped table-hover js-basic-table">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Fullname</th>
                                                <th>Father Name</th>
                                                <th>Date of Birth</th>
                                                <th>Gender</th>
                                                <th>Mobile No</th>
                                                <th>Email</th>
                                                <th>Actions</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- data-toggle="modal" data-target="#largeModal"  -->
                                            <tr ng-repeat="data in userdata">
                                                <td>{{$index+1}}</td>
                                                <td>{{data.fname}}{{data.lname}}</td>
                                                <td>{{data.fathername}}</td>
                                                <td>{{data.dob}}</td>
                                                <td>{{data.gender}}</td>
                                                <td>{{data.mno}}</td>
                                                <td>{{data.email}}</td>
                                                <td>
                                                    <button type="button" ng-click="viewuser(data);"
                                                        class="btn btn-primary" data-toggle="tooltip" title="View"><i
                                                            class="glyphicon glyphicon-eye-open"></i></button>
                                                    <button type="button" ng-click="edituser(data,$index);"
                                                        class="btn btn-warning" data-toggle="tooltip" title="Edit"><i
                                                            class="glyphicon glyphicon-pencil"></i></button>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="largeModalLabel">User Data</h4>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="col-md-4 form-control-label">
                                <label for="email_address_2">First Name</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        : {{viewdata.fname}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-4 form-control-label">
                                <label for="email_address_2">Last Name</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        : {{viewdata.lname}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="col-md-4 form-control-label">
                                <label for="email_address_2">Father Name</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        : {{viewdata.fathername}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-4 form-control-label">
                                <label for="email_address_2">Date of Birth</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        : {{viewdata.dob}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">

                        <div class="col-md-6">
                            <div class="col-md-4 form-control-label">
                                <label for="email_address_2">Gender</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        : {{viewdata.gender}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-4 form-control-label">
                                <label for="email_address_2">Marital Status</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        : {{viewdata.maritalstatus}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">

                        <div class="col-md-6">
                            <div class="col-md-4 form-control-label">
                                <label for="email_address_2">Religion</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        : {{viewdata.religion}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-4 form-control-label">
                                <label for="email_address_2">Nationality</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        : {{viewdata.nationality}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="col-md-4 form-control-label">
                                <label for="email_address_2">Mobile No</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        : {{viewdata.mno}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-4 form-control-label">
                                <label for="email_address_2">Email</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        : {{viewdata.email}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="col-md-2 form-control-label">
                                <label for="email_address_2">Git URL</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        : {{viewdata.url}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="col-md-2 form-control-label">
                                <label for="email_address_2">Address</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        : {{viewdata.address}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">                
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <form name="editForm" ng-submit="submitForm(editForm.$valid)" novalidate>
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="largeModalLabel">User Data</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                            editForm.fname.$invalid && !editForm.fname.$pristine }">
                                            <label for="fname">First Name</label>
                                            <input type="text" name="fname" class="form-control" ng-model="user.fname"
                                                ng-minlength="3" ng-maxlength="8" alphabet-only required autocomplete="off">
                                            <p ng-show="editForm.fname.$dirty && editForm.fname.$error.required"
                                                class="help-block">First Name is required</p>
                                            <p ng-show="editForm.fname.$error.minlength" class="help-block">
                                                First Name is too short.
                                            </p>
                                            <p ng-show="editForm.fname.$error.maxlength" class="help-block">
                                                First Name is too long.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                            editForm.lname.$invalid && !editForm.lname.$pristine }">
                                            <label for="lname">Last Name</label>
                                            <input type="text" name="lname" class="form-control" ng-model="user.lname"
                                                ng-minlength="3" ng-maxlength="8" required alphabet-only autocomplete="off">
                                            <p ng-show="editForm.lname.$dirty && editForm.lname.$error.required"
                                                class="help-block">Last Name is required</p>
                                            <p ng-show="editForm.lname.$error.minlength" class="help-block">
                                                Last Name is too short.
                                            </p>
                                            <p ng-show="editForm.lname.$error.maxlength" class="help-block">
                                                Last Name is too long.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                            editForm.faname.$invalid && !editForm.faname.$pristine }">
                                            <label for="faname">Father's Name</label>
                                            <input type="text" name="faname" class="form-control"
                                                ng-model="user.fathername" ng-minlength="3" ng-maxlength="15" required
                                                alphabet-only autocomplete="off">
                                            <p ng-show="editForm.faname.$dirty && editForm.faname.$error.required"
                                                class="help-block">Father Name is required</p>
                                            <p ng-show="editForm.faname.$error.minlength" class="help-block">
                                                    Father Name is too short.
                                            </p>
                                            <p ng-show="editForm.faname.$error.maxlength" class="help-block">
                                                    Father Name is too long.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                            editForm.dob.$invalid && !editForm.dob.$pristine }">
                                            <label for="dob">Date Of Birth</label>
                                            <div class="form-group">
                                                <input type='text' name="dob" class="form-control" ng-model="user.dob"
                                                    name="dob" id="dob" required autocomplete="off"/>
                                                <p ng-show="editForm.dob.$dirty && editForm.dob.$error.required"
                                                    class="help-block">Date of Birth is required</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                            editForm.gender.$invalid && !editForm.gender.$pristine }">
                                            <label>Gender</label>
                                            <div class="radio-group">
                                                <div class="md-radio md-radio-inline">
                                                    <input id="male" type="radio" name="gender" value="Male" checked
                                                        ng-model="user.gender" required>
                                                    <label for="male">Male</label>
                                                </div>
                                                <div class="md-radio md-radio-inline">
                                                    <input id="female" type="radio" name="gender" ng-model="user.gender"
                                                        value="Female" required>
                                                    <label for="female">Female</label>
                                                </div>
                                            </div>
                                            <p ng-show="editForm.gender.$dirty && editForm.gender.$error.required"
                                                class="help-block">Gender is required</p>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                            editForm.marital.$invalid && !editForm.marital.$pristine }">
                                            <label for="marital">Marital Status</label>
                                            <select class="form-control" name="marital" ng-model="user.maritalstatus"
                                                required>
                                                <option value="">Select</option>
                                                <option value="Single">Single</option>
                                                <option value="Married">Married</option>
                                                <option value="Widow">Widow</option>
                                            </select>
                                            <p ng-show="editForm.marital.$dirty && editForm.marital.$error.required"
                                                class="help-block">Marital Status is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                            editForm.religion.$invalid && !editForm.religion.$pristine }">
                                            <label for="religion">Religion</label>
                                            <select class="form-control" name="religion" ng-model="user.religion"
                                                required>
                                                <option value="">Select</option>
                                                <option value="Hindu">Hindu</option>
                                                <option value="Christian">Christian</option>
                                                <option value="Muslim">Muslim</option>
                                            </select>
                                            <p ng-show="editForm.religion.$dirty && editForm.religion.$error.required"
                                                class="help-block">Religion is required</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                            editForm.nationality.$invalid && !editForm.nationality.$pristine }">
                                            <label for="nationality">Nationality</label>
                                            <select class="form-control" name="nationality" ng-model="user.nationality"
                                                required>
                                                <option value="">Select</option>
                                                <option value="Indian">Indian</option>
                                                <option value="NRI">NRI</option>
                                            </select>
                                            <p ng-show="editForm.nationality.$dirty && editForm.nationality.$error.required"
                                                class="help-block">Nationality is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                            editForm.mobile.$invalid && !editForm.mobile.$pristine }">
                                            <label for="mobile">Mobile Number</label>
                                            <input type="number" name="mobile" class="form-control" ng-model="user.mno"
                                                ng-minlength="10" ng-maxlength="10" required autocomplete="off">
                                            <p ng-show="editForm.mobile.$dirty && editForm.mobile.$error.required"
                                                class="help-block">Mobile Number is required</p>
                                            <p ng-show="editForm.mobile.$error.minlength" class="help-block">
                                                Mobile Number is too short.
                                            </p>
                                            <p ng-show="editForm.mobile.$error.maxlength" class="help-block">
                                                Mobile Number is too long.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                            editForm.email.$invalid && !editForm.email.$pristine }">
                                            <label for="email">Email</label>
                                            <input type="email" name="email" class="form-control" ng-model="user.email"
                                                required autocomplete="off">
                                            <p ng-show="editForm.email.$dirty && editForm.email.$error.required"
                                                class="help-block">Email is required</p>
                                            <p ng-show="editForm.email.$dirty && editForm.email.$invalid"
                                                class="help-block">
                                                Email is invalid</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                            editForm.address.$invalid && !editForm.address.$pristine }">
                                            <label for="address">Address</label>
                                            <textarea rows="3" name="address" cols="50" class="form-control"
                                                ng-model="user.address" required autocomplete="off"></textarea>
                                            <p ng-show="editForm.address.$dirty && editForm.address.$error.required"
                                                class="help-block">Address is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" ng-class="{ 'has-error' : 
                                            editForm.url.$invalid && !editForm.url.$pristine }">
                                            <label for="url">Git URL</label>
                                            <input type="url" name="url" class="form-control" ng-model="user.url"
                                                required autocomplete="off">
                                            <p ng-show="editForm.url.$dirty && editForm.url.$error.required"
                                                class="help-block">
                                                Git URL is required</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect pull-left"
                            data-dismiss="modal">CLOSE</button>
                        <button type="reset" class="btn btn-warning waves-effect">Clear</button>
                        <button type="submit" class="btn btn-primary waves-effect"
                            ng-disabled="editForm.$invalid">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Datatables -->
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- Moment -->
<script src="bower_components/moment/min/moment.min.js"></script>
<!-- Toastr -->
<script src="bower_components/toastr/toastr.min.js"></script>
<!-- AngularJS -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>

<script src="js/controller.js"></script>
<script src="js/script.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.js"></script>

</html>